<!-- (Ab)uses bootstrap -->
<!-- Since partial bootstrap use is essentially coupling this to the parent  -->
<!-- layout, we should draw up some consistent standard for bootstrap use    -->
<!-- throughout the project, which would simplify other components a bit     -->
<div class="row show-viewer">
	<!-- Show image/media viewer -->
	<div class="span6 media-column" ng-if="show.media || show.image">
		<div class="show-media">
			<img ng-if="show.image && !activeSource" class="show-media-image" ng-src="{{ show.image }}" width="100%">
			<div class="show-media-live-container" ng-if="activeSource">
				<iframe ng-src="{{ activeSource }}" class="show-media-live" scrolling="no"></iframe>
			</div>
			<div class="show-media-sources" ng-if="show.media.sources.length > 1">
				<a ng-repeat="source in show.media.sources" class="show-media-source" ng-class="{ selected: (activeSource === source) }" ng-click="selectSource(source, null)" href="javascript://">
					#{{ $index + 1 }}
				</a>
			</div>
			<div class="show-media-active-title" ng-if="activeSourceTitle">
				{{ activeSourceTitle }}
			</div>
		</div>
	</div>
	<!-- Show info -->
	<div class="span6 info-column">
		<div class="show-info">
			<!-- Title -->
			<a class="show-target-link" ng-href="{{ show.targetUrl }}">
				<h4 class="show-title">
					{{ show.title }}
				</h4>
			</a>
			<!-- Start time -->
			<div class="meta">
				<div class="show-timestamp timestamp">
					{{ show.start | showViewerDateTime }}
				</div>
			</div>
			<!-- Show description -->
			<div class="show-description lead" ng-bind-html="show.description"></div>
			<!-- Links menu -->
			<div class="show-links-menu dropdown" ng-if="show.links && show.links.menu" dropdown>
				<button type="button" class="btn dropdown-toggle" dropdown-toggle>
					{{ show.links.menuTitle }}
				</button>
				<ul class="dropdown-menu show-links-menu-items">
					<li ng-repeat="link in show.links.menu" class="show-link" ng-class="link.class">
						<a ng-href="{{ link.url }}" class="link-heading" title="{{ link.title }}" target="_blank">
							<i ng-class="link.iconClass" ng-if="link.iconClass"></i>
							{{ link.title }}
						</a>
						<span class="btn" class="show-link-action" ng-repeat="action in link.actions" ng-href="{{ action.url }}" ng-class="action.class">
							{{ action.title }}
						</span>
					</li>
				</ul>
			</div>
			<!-- Links list -->
			<div class="show-links-list" ng-if="show.links && show.links.list">
				<div class="show-link" ng-repeat="link in show.links.list" ng-class="link.class">
					<a href="javascript://" ng-click="selectSource(link.url, link.title)" class="link-heading" title="{{ link.title }}" ng-class="{ active: (activeSource === link.url) }">
						<i ng-class="link.iconClass" ng-if="link.iconClass"></i>
						{{ link.title }}
					</a>
					<span ng-if="link.actions && link.actions.length">
						&nbsp;&mdash;&nbsp;
					</span>
					<a ng-repeat="action in link.actions" ng-href="{{ action.url }}" class="show-link-action" ng-class="action.class">
						{{ action.title }}
					</a>
				</div>
			</div>
			<!-- Programme homepage -->
			<div class="show-category-link" ng-if="show.categoryUrl">
				<a ng-href="{{ show.categoryUrl }}" class="marker-more">
					{{ strings('programmeHomepage') }}
				</a>
			</div>
			<!-- Open channel in new window -->
			<div class="show-channel-link" ng-if="show.channelUrl" old-ng-if="show.channelUrl && show.media.sources.length > 1">
				<a ng-href="{{ show.channelUrl }}" target="_blank">
					{{ strings('openInNewWindow') }}
				</a>
			</div>
		</div>
		<!-- Playlist viewer -->
		<div class="playlist-container" ng-if="show.playlist">
			<label class="btn">
				<input type="checkbox" class="playlist-toggle" ng-model="view.showPlaylist">
				{{ strings('showPlaylist') }}
			</label>
			<div ng-if="view.showPlaylist" class="playlist">
				<div class="playlist-item" ng-repeat="item in show.playlist.items">
					<span class="playlist-field time timestamp-no-overflow-base bold" ng-if="item.time">
						{{ item.time }}
					</span>
					<span class="playlist-field title">
						{{ item.title }}
					</span>
				</div>
			</div>
		</div>
		<!-- Alternative media formats -->
		<div class="media-formats" ng-if="show.media.formats">
			<div class="category">
				{{ strings('alternativeListening') }}
			</div>
			<a class="format btn" ng-repeat="format in show.media.formats" ng-href="{{ format.url }}" target="_blank">
				{{ format.codec }} {{ format.bitrate }}K
			</a>
		</div>
	</div>
</div>
