<!-- (Ab)uses bootstrap -->
<!-- Since partial bootstrap use is essentially coupling this to the parent  -->
<!-- layout, we should draw up some consistent standard for bootstrap use    -->
<!-- throughout the project, which would simplify other components a bit     -->
<div class="show-viewer row">
	<div class="span6" ng-if="show.media || show.image">
		<div class="show-media">
			<img ng-if="show.image && !show.media" class="show-media-image" ng-src="{{ show.image }}" width="100%">
			<div class="show-media-live-container" ng-if="activeSource">
				<iframe ng-src="{{ activeSource }}" class="show-media-live" scrolling="no"></iframe>
			</div>
			<div class="show-media-sources" ng-if="show.media.sources.length > 1">
				<a ng-repeat="source in show.media.sources" class="show-media-source" ng-class="{ selected: (activeSource === source) }" ng-bind="'#' + ($index + 1)" ng-click="selectSource(source)" href="javascript://"></a>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="show-info">
			<a class="show-target-link" ng-href="{{ show.targetUrl }}"><h4 ng-bind="show.title" class="show-title"></h4></a>
			<div class="meta">
				<div class="show-timestamp timestamp" ng-bind="show.start | showViewerDateTime"></div>
			</div>
			<div class="show-description lead" ng-bind-html="show.description"></div>
			<div class="show-category-link">
				<a ng-if="show.categoryUrl" ng-href="{{ show.categoryUrl }}" class="marker-more">
					{{ strings('programmeHomepage') }}
				</a>
			</div>
			<div class="show-channel-link">
				<a ng-if="show.channelUrl" ng-href="{{ show.channelUrl }}" target="_blank">
					{{ strings('openInNewWindow') }}
				</a>
			</div>
		</div>
		<div class="media-formats" ng-if="show.media.formats">
			<div class="category">
				{{ strings('alternativeListening') }}
			</div>
			<a class="format btn" ng-repeat="format in show.media.formats" ng-href="{{ format.url }}">
				{{ format.codec }} {{ format.bitrate }}K
			</a>
		</div>
		<div class="playlist-container" ng-if="show.playlist">
			<label class="btn">
				<input type="checkbox" class="playlist-toggle" ng-model="view.showPlaylist">
				{{ strings('showPlaylist') }}
			</label>
			<div ng-if="view.showPlaylist" class="playlist">
				<div class="playlist-item" ng-repeat="item in show.playlist.items">
					<span class="playlist-field time timestamp-no-overflow-base bold" ng-if="item.time">
						{{ item.time }}
					</span>
					<span class="playlist-field title">
						{{ item.title }}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
