.show-viewer {
	padding: 16px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	display: table;
}

.show-viewer.collapsed {
	display: none;
}

.show-viewer>* {
	display: table-cell;
	vertical-align: top;
	box-sizing: border-box;
}

.show-viewer .media-container {
	position: relative;
	width: 332px;
}

.show-viewer .media {
	/* 56.25% = 9/16, i.e. 16:9 aspect ratio */
	width: 100%;
	padding-bottom: 56.25%;
	overflow: hidden;
	background: #bbb;
	box-sizing: border-box;
}

.show-viewer .media>* {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.show-viewer .info {
	padding-left: 16px;
}
