<!doctype html>
<html lang="en">
<head>
<title>Show viewer demo</title>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="../">
<!-- ETV stylesheet -->
<link rel="stylesheet" href="http://etv.err.ee/Content/less/theme/etv/bootstrap.less">
<!-- Dependencies -->
<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<!-- AJAX proxy for demos only -->
<script src="../ajax-proxy/client.js"></script>
<!-- Language -->
<script src="../language/module.js"></script>
<script src="../language/language-service.js"></script>
<!-- Apis -->
<script src="../err/module.js"></script>
<script src="../err/locale.js"></script>
<script src="../err/apis.js"></script>
<script src="../err/show-viewer-adapter.js"></script>
<script src="../err/timeline-adapter.js"></script>
<script src="../err/playlist-adapter.js"></script>
<!-- Show viewer -->
<link rel="stylesheet/less" href="style.less" type="text/css">
<script src="module.js"></script>
<script src="show-viewer-locale.js"></script>
<script src="show-viewer-controller.js"></script>
<script src="show-viewer-directive.js"></script>
<script src="show-viewer-filters.js"></script>
<!-- Demo -->
<script>
(function (angular) {
	'use strict';

	angular.module('demo', ['battlesnake.show-viewer', 'battlesnake.err', 'battlesnake.ajax-proxy'])
		.controller('demoController', demoController);

	function demoController($scope, $q, showViewerAdapterFactory, timelineAdapterFactory, scheduleApi) {
		$scope.adapters = _(scheduleApi).map(function (api, name) {
			return {
				name: name,
				showViewer: showViewerAdapterFactory(api),
				timeline: timelineAdapterFactory(api)
			};
		});
		$scope.model = {
			title: 'Show viewer demo',
			shows: null,
			show: null,
			adapter: null
		};
		$scope.reloadShows = reloadShows;
		$scope.model.adapter = $scope.adapters[0];
		reloadShows();
		return;

		function reloadShows() {
			$scope.model.shows = null;
			$scope.model.show = null;
			$scope.showListItem = function (show) {
				return show.start.format('HH:mm') + ': ' + show.title;
			};
			$scope.model.adapter.timeline.getDay(moment())
				.then(loadShows);
		}

		function loadShows(data) {
			$q.all(_(data).chain().pluck('itemData').map($scope.model.adapter.showViewer.getDetails).value())
				.then(function (shows) {
					$scope.model.shows = _(shows)
						.filter(todayPredicate)
						.sort(showComparator);
					$scope.model.show = _([].slice.apply($scope.model.shows).reverse())
						.find(function (show) {
							return show.start.unix() < moment().unix()
						});
				});
		}

		function todayPredicate(a) {
			return a.start.isSame(moment(), 'd');
		}

		function showComparator(a, b) {
			return a.start.unix() - b.start.unix();
		}

	}

})(window.angular);
</script>
<style>
body {
	font-family: sans-serif;
	margin-top: 60px;
}
.show-viewer-container {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 12px 3px rgba(90, 90, 90, 0.5);
}
.show-viewer {
	padding-bottom: 0;
}
.info-column>* {
	margin: 16px 16px 16px 0;
}
</style>
</head>
<body ng-app="demo" ng-controller="demoController">
	<div class="header container">
		<h1 ng-bind="model.title" class="row"></h1>
		<div class="row">
			<select class="span3" ng-options="adapter as adapter.name for adapter in adapters" ng-model="model.adapter" ng-change="reloadShows()"></select>
			<select class="offset1 span3" ng-options="show as showListItem(show) for show in model.shows" ng-model="model.show"></select>
		</div>
	</div>
	<!-- The show viewer -->
	<div show-viewer="model.show" class="show-viewer-container kartulita container"></div>
	<!-- That's all there is to it! -->
</body>
<script src="bower_components/less/dist/less.min.js"></script>
</html>
