<!doctype html>
<html lang="en">
<head>
<title>Show viewer demo</title>
<meta charset="utf8">
<!-- ETV stylesheet -->
<link rel="stylesheet" href="http://etv.err.ee/Content/less/theme/etv/bootstrap.less">
<!-- Show viewer timeline -->
<link rel="stylesheet" href="../style.css">
<!-- Dependencies (remember to `bower install` in the module folder before   -->
<!-- running this demo                                                       -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<!-- For debugging purposes, I include each script explicitly.               -->
<!-- In production, you would ng-annotate=>concatenate=>uglify the scripts   -->
<!-- to produce one small bundle script                                      -->
<!-- Show viewer: -->
<script src="../module.js"></script>
<script src="../show-viewer-directive.js"></script>
<script src="../show-viewer-filters.js"></script>
<!-- This script defines our angular application.  Its main purpose is to    -->
<!-- reference the battlesnake.timeline module, so that our timeline         -->
<!-- directive is recognised.                                                -->
<script>
(function (angular) {
	'use strict';

	angular.module('demo', ['battlesnake.show-viewer'])
		.controller('demoController', demoController);

	function demoController($scope, $http, $q, ERRShowViewerAdapterFactory, ETVEndpoint, R2Endpoint) {
		$scope.model = {
			title: 'Show viewer demo',
			shows: null,
			show: null,
			adapter: null
		};
		$scope.adapters = [
			{
				name: 'ETV',
				showViewer: ERRShowViewerAdapterFactory(ETVEndpoint, 0)
			},
			{
				name: 'R2',
				showViewer: ERRShowViewerAdapterFactory(R2Endpoint, 0)
			}
		];
		$scope.reloadShows = reloadShows;
		$scope.model.adapter = $scope.adapters[0];
		reloadShows();
		return;

		function reloadShows() {
			$scope.model.shows = null;
			$scope.model.show = null;
			var request = {
				method: 'GET',
				url: $scope.model.adapter.showViewer.endpoint + '/GetTimelineDay',
				params: {
					year: moment().year(),
					month: moment().month() + 1,
					day: moment().date()
				}
			}
			$scope.showListItem = function (show) {
				return show.start.format('HH:mm') + ': ' + show.title;
			};

			$http(request).success(loadShows);
		}

		function loadShows(data, status) {
			$q.all(data.map($scope.model.adapter.showViewer.getDetails))
				.then(function (shows) {
					$scope.model.shows = _(shows)
						.filter(todayPredicate)
						.sort(showComparator);
					$scope.model.show = _([].slice.apply($scope.model.shows).reverse())
						.find(function (show) {
							return show.start.unix() < moment().unix()
						});
				});
		}

		function todayPredicate(a) {
			return a.start.isSame(moment(), 'd');
		}

		function showComparator(a, b) {
			return a.start.unix() - b.start.unix();
		}

	}

})(window.angular);
</script>
<!-- Underscore required by adapter -->
<script src="../bower_components/underscore/underscore-min.js"></script>
<script src="err-endpoints.js"></script>
<script src="err-show-viewer-adapter.js"></script>
<style>
body {
	font-family: sans-serif;
	margin-top: 60px;
}
#show-viewer {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 12px 3px rgba(90, 90, 90, 0.5);
}
#show-chooser {
	margin: 60px 40px;
}
</style>
</head>
<body ng-app="demo" ng-controller="demoController">
	<div class="main container">
		<h1 ng-bind="model.title" class="row"></h1>
		<select ng-options="adapter as adapter.name for adapter in adapters" ng-model="model.adapter" ng-change="reloadShows()"></select>
		<select ng-options="show as showListItem(show) for show in model.shows" ng-model="model.show" id="show-chooser" class="row"></select>
		<!-- The show viewer -->
		<div show-viewer="model.show" id="show-viewer" class="row"></div>
		<!-- That's all there is to it! -->
	</div>
	<p style="margin: 60px auto 1em; max-width: 600px; line-height: 1.7em;">
		<strong>NOTE:</strong> Since we are using the err.ee api from outside the
		err.ee domain, your browser will block the XHRs due to CORS. To disable
		CORS in chrome or chromium, launch it with the
		<b>--disable-web-security</b> command-line parameter. The demos will not
		work otherwise. There is no reliable way to disable CORS in Firefox.
	</p>
</body>
</html>
