<!doctype html>
<html lang="en" ng-app="demo">
<head>
<title>Show viewer demo</title>
<meta charset="utf8">
<base href="../">
<!-- ETV stylesheet -->
<link rel="stylesheet" href="http://etv.err.ee/Content/less/theme/etv/bootstrap.less">
<!-- CSS for the timeline -->
<link rel="stylesheet" href="../timeline/bower_components/fontawesome/css/font-awesome.css">
<link rel="stylesheet/less" href="../timeline/style.less" type="text/css">
<!-- Show viewer timeline -->
<link rel="stylesheet/less" href="style.less" type="text/css">
<!-- Dependencies (remember to `bower install` in the module folder before   -->
<!-- running this demo                                                       -->
<script src="bower_components/less/dist/less.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="../timeline/bower_components/underscore/underscore-min.js"></script>
<script src="../timeline/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="../timeline/bower_components/hamsterjs/hamster.js"></script>
<script src="../timeline/bower_components/angular-mousewheel/mousewheel.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- For debugging purposes, I include each script explicitly.               -->
<!-- In production, you would ng-annotate=>concatenate=>uglify the scripts   -->
<!-- to produce one small bundle script                                      -->
<!-- Timeline: -->
<script src="../timeline/module.js"></script>
<script>
	/*
	 * This synchronous template GET is not required if you use the bundled form
	 * of the timeline plugin
	 */
	angular.module('battlesnake.timeline')
		.run(function ($templateCache) {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '../timeline/timeline-template.html', false);
			xhr.send();
			$templateCache.put('timeline-template.html', xhr.responseText);
		});
</script>
<script src="../timeline/timeline-service.js"></script>
<script src="../timeline/timeline-filters.js"></script>
<script src="../timeline/timeline-controller.js"></script>
<script src="../timeline/timeline-directive.js"></script>
<script src="../timeline/days-directive.js"></script>
<script src="../timeline/day-directive.js"></script>
<script src="../timeline/items-directive.js"></script>
<!-- Show viewer: -->
<script src="module.js"></script>
<script src="show-viewer-directive.js"></script>
<script src="show-viewer-filters.js"></script>
<!-- Our demo script -->
<script>
(function (angular) {
	'use strict';

	angular.module('demo', ['battlesnake.show-viewer', 'battlesnake.timeline'])
		.controller('demoController', demoController);

	function demoController($scope, ERRTimelineAdapterFactory, ERRShowViewerAdapterFactory, ETVEndpoint, R2Endpoint) {
		$scope.model = {
			title: 'Show viewer demo with timeline binding',
			showViewer: false,
			show: null,
			lastItem: null,
			adapter: null
		};
		$scope.adapters = [
			{
				name: 'ETV',
				timeline: ERRTimelineAdapterFactory(ETVEndpoint),
				showViewer: ERRShowViewerAdapterFactory(ETVEndpoint)
			},
			{
				name: 'R2',
				timeline: ERRTimelineAdapterFactory(R2Endpoint),
				showViewer: ERRShowViewerAdapterFactory(R2Endpoint)
			}
		];
		$scope.model.adapter = $scope.adapters[0];
		$scope.openItem = openItem;
		$scope.changeChannel = changeChannel;
		return;
		
		function openItem(item) {
			/* Toggling */
			if ($scope.model.lastItem === item) {
				$scope.model.showViewer = !$scope.model.showViewer;
				return;
			}
			$scope.model.lastItem = item;
			/* Get details */
			return $scope.model.adapter.showViewer.getDetails(item.itemData)
				.then(function (showDetails) {
					$scope.model.showViewer = true;
					$scope.model.show = showDetails;
				});
		}

		function changeChannel() {
			$scope.model.lastItem = null;
			$scope.model.showViewer = false;
			$scope.model.show = null;
		}
	}

})(window.angular);
</script>
<script src="demos/err-endpoints.js"></script>
<script src="demos/err-show-viewer-adapter.js"></script>
<script src="../timeline/demos/err-timeline-adapter.js"></script>
<style>
body {
	font-family: sans-serif;
	margin: 60px 0;
	overflow-y: scroll;
}
.toggle-arrow {
	display: block;
	overflow: visible;
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	top: -20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
}
.toggle-arrow-container {
	height: 0;
	overflow: visible;
	position: relative;
	border: 0;
	box-shadow: none;
	box-sizing: border-box;
}
.page>* {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	box-shadow: 0px 0px 12px 3px rgba(90, 90, 90, 0.5);
}
.header>* {
	margin: 60px;
	display: block;
}
.page>*:first-child {
	border-top: 1px solid #aaa;
}
.page>*:last-child {
	border-bottom: 1px solid #aaa;
}
#timeline-container {
	width: auto;
	border: 0;
}
.show-info {
	padding: 16px;
	padding-left: 0;
}
</style>
</head>
<body ng-controller="demoController">
<div class="page">
	<!-- Some slight abuse of bootstrap -->
	<div class="container header">
		<h1 ng-bind="model.title" id="title"></h1>
		<div style="padding-left: 30px">
			<strong>Channel&nbsp;</strong>
			<select ng-options="adapter as adapter.name for adapter in adapters" ng-model="model.adapter" ng-change="changeChannel()"></select>
		</div>
	</div>
	<div timeline="model.adapter.timeline" timeline-open-item="openItem(item);" id="timeline-container" class="kartulita"></div>
	<div class="toggle-arrow-container">
		<div class="toggle-arrow" ng-show="!!model.show" ng-click="model.showViewer = !model.showViewer"></div>
	</div>
	<div class="container">
		<div show-viewer="model.show" ng-show="model.showViewer" class="kartulita show-viewer-container"></div>
	</div>
	<!-- That's all there is to it! -->
</div>
<div>
	<p style="margin: 2em auto 1em; max-width: 600px; line-height: 1.7em;">
		<strong>NOTE:</strong> Since we are using the err.ee api from
		outside the err.ee domain, your browser will block the XHRs due to
		CORS. To disable CORS in chrome or chromium, launch it with the
		<b>--disable-web-security</b> command-line parameter. The demos will
		not work otherwise. There is no reliable way to disable CORS in
		Firefox.
	</p>
</div>
</body>
</html>
